body {
    font-family: 'Roboto', sans-serif;
    min-height:100vh;
    overflow-x:hidden;
}

h1, h3, p {
    text-align: center;
}

#image {
    margin: auto auto;
    display:block;
    width:55%;
    height:55vh;
    max-height:500px;
    object-fit:contain;
}

button {
    margin: 15px auto;
    display:block;
}

footer {
    bottom:0;
    width:100%;
}

a {
    color:initial;
}